.formulario {
  background-color: aquamarine;
  height: auto;
  width: auto;
  margin-right: 10px;
  padding: 10px;
}

.contenedor {
  display: flex;
}

.filtro-tareas {
  padding: 10px;
  background-color: rgb(125, 173, 201);
  height: auto;
  width: auto;
  margin-left: 30px;
}

.filtro-tareas li {
  list-style-type: none;
}

.js-tareas {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.check {
  display: flex;
}

.tachado {
  text-decoration: line-through;
}
