.formulario {
  background-color: aquamarine;
  height: 100px;
  width: auto;
  margin-right: 30px;
  padding: 10px;
}

.contenedor {
  display: flex;
}

.filtro-tareas {
  padding: 10px;
  background-color: rgb(125, 173, 201);
  height: 100px;
  width: auto;
  margin-left: 30px;
}

.filtro-tareas li {
  list-style-type: none;
}

.js-tareas {
  display: flex;
  flex-direction: column;
}
